#navbar-searchbar{
    display: flex;
    background-color: white;
    border: none;
    height: 30px;
}

.navbar-searchbar-button {
    background: inherit;
    border: none;
    outline: none;
}

.navbar-searchbar-button:hover {
    cursor: pointer;
}

.navbar-searchbar-input{
    outline: none;
    border: none;
    text-indent: 10px;
}
