#navbar {
    background-color: var(--background);
}

.navbar-mmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: inherit;
    max-width: 600px;
    max-height: 50px;
}

.navbar-mmenu__item-link{
    padding: 12px;
    color: var(--white);
    font-family: SemplicitaPro-Medium, sans-serif;
    width: 100%;
    height: 100%;
}

.navbar-mmenu__item-link:hover {
    background-color: var(--white);
    color: var(--background);
}

.link__Sale {
    color: orange;
}

a:link{
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: sans-serif;
}

