
.navbar-usermenu-menu{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    max-height: 30px;
    background-color: var(--background);
    right: 0%;
}

.navbar-usermenu__item{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;   
}
